{% extends 'index.html' %}
{% block title %} Assign order {% endblock %}
{% block site %}
    {% for order in orders %}
        <a href="{% url 'make-assign' order.id %}">
            {% if order.driver %}
                DRIVER: {{ order.driver.first_name }} {{ order.driver.last_name }}, phone: {{ order.driver.phone_number }} -
            {% endif %}
            DATE: {{ order.date}}. LOAD: {{ order.load_place }} - DELIVERY: {{ order.delivery_place }}
        </a><br><br>
    {% endfor %}
{% endblock %}
