<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Index {% endblock %}</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}<br>
    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a><br>
    {% else %}
        <a href="{% url 'login' %}">Login</a><br>
        <a href="{% url 'register' %}">Register</a><br>
    {% endif %}
    {% if request.user.is_authenticated %}
    <a href="{% url 'homepage' %}">Homepage</a><br><br>
    <a href="{% url 'orders-list' %}">Transportation orders list</a><br>
    <a href="{% url 'order-create' %}">Create new transportation order</a><br><br>
    <a href="{% url 'places-list' %}">Load/Delivery places list</a><br>
    <a href="{% url 'place-create' %}">Create new load/delivery place</a><br><br>
    <a href="{% url 'tankers-list' %}">Tanker trailer orders list</a><br><br>
    <a href="{% url 'users-list' %}">Users list</a><br><br>
    <a href="{% url 'assign-order' %}">Assign/Edit order</a><br><br>
    {% endif %}
    {% block site %} {% endblock %}
</body>
</html>
